:root {
  --primaryColor: #21235d;
  --secondaryColor: #2f34c2;
  --accentColor: #5dc4b8;
  --mainWhite: #ffffff;
  --mainBlack: #222222;
  --mainGray: #303030;
  --mainLightGray: rgb(230, 230, 230);
}

body {
  background: var(--mainWhite);
  color: var(--mainGray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#contact\ us {
  background-color: var(--primaryColor);
}

#contact\ us > a {
  color: var(--mainWhite) !important;
}

.navlink {
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--primaryColor) !important;
  font-size: 0.7rem;
  margin: 0rem 0.5rem;
  transition: 0.25s ease-in;
}

.navlink:hover,
#contact\ us > a:hover {
  color: var(--accentColor) !important;
}

.icon {
  cursor: pointer;
  color: var(--primaryColor);
  transition: 0.25s ease-in;
}

.icon:hover {
  color: var(--accentColor);
}

.default-background {
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
